@model Usuario
@using Microsoft.AspNetCore.Http

<div>
 <h2>Login do Sistema</h2>
 <p>@ViewBag.Mensagem</p>
 <form asp-action="Login" method="POST">
     <label asp-for="Login">Usuário:</label>
     <input asp-for="Login" type="text">
      <label asp-for="Senha">Senha:</label>
     <input asp-for="Senha" type="password">
     <input type="submit" value="Logar">
 </form>
      @if (Context.Session.GetInt32("id") != null)
      {
          @if (Context.Session.GetString("tipo") == "1"){
              <p>Administrador</p>
            }else{
                <p>Usuário comum</p>
            }
      }      
    <a class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="CadastroUsuario">Cadastrar usuario</a> 
</div>
