@using Microsoft.AspNetCore.Http
@using Atividade2.Models
@model Pacote    
@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo @Context.Session.GetString("nome") </h1>
 

    

   
</div>

 